.cart{
    width: 100%;
    position: fixed;
    .empty{
        position: absolute;
        width: 100%;
        height: 200px;
        top: 50px;
        padding-top: 100px;
        p{
            width: 100%;
            text-align: center;
            font-size: 16px;
            color: #ccc;
            margin-bottom: 80px;
        }
        & > div{
            width: 200px;
            height: 50px;
            line-height: 50px;
            border-radius: 2px;
            background: #ccc;
            text-align: center;
            color: #fff;
            margin: 10px auto;
        }
    }
    .product{
        width: 95%;
        padding: 15px 2.5%;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        border-top: 2px solid #f5f5f5;
        border-bottom: 2px solid #f5f5f5;
        .choose{
            width: 30px;
            background: url('~@/assets/check_normal.png') 50% 50% no-repeat;
            background-size: 20px 20px;
        }
        .choosed{
            width: 30px;
            background: url('~@/assets/check_press.png') 50% 50% no-repeat;
            background-size: 20px 20px;
        }
        .img{
            width: 30%;
            img{
                width: 90%;
                border: 1px solid #f5f5f5;                
            }
        }
        .info{
            width: 60%;
            p{
                text-align: left;
            }
            .name{
                color: #666;
                font-size: 14.5px;
            }
            .price{
                color:#999;
                font-size: 12.5px;
                padding: 6.25px 0;
            }
            .num{
                width: 100%;
                display: flex;
                justify-content: space-between;
                .input-number{
                    width: 90px;
                    height: 30px;
                    display: flex;
                    border: 1px solid #eee;
                    .input-sub{
                        width: 30px;
                        background: url('~@/assets/icon_sub.png') 50% 50% no-repeat;
                        background-size: 60%;
                        background-color: #f4f4f4;
                    }
                    .input-num{
                        width: 40%;
                        line-height: 30px;
                    }
                    .input-add{
                        width: 30px;
                        background: url('~@/assets/icon_add.png') 50% 50% no-repeat;
                        background-size: 60%;
                        background-color: #f4f4f4;
                    }
                }
                .delete{
                    width: 30px;
                    height: 30px;
                    background: url('~@/assets/icon_delete.png') 50% 50% no-repeat;
                    background-size: 100%;
                }
            }
        }
    }
}