.cart{
    width: 100%;
    position: fixed;
    .empty{
        position: absolute;
        width: 100%;
        height: 200px;
        top: 50px;
        padding-top: 100px;
        p{
            width: 100%;
            text-align: center;
            font-size: 16px;
            color: #ccc;
            margin-bottom: 80px;
        }
        & > div{
            width: 200px;
            height: 50px;
            line-height: 50px;
            border-radius: 2px;
            background: #ccc;
            text-align: center;
            color: #fff;
            margin: 10px auto;
        }
    }
}