html, body {
    font-size: 1rem;
    width: 100%;
    height: 100%;
    color: #333;
}
body {
    background: url('../assets/img/lens.jpg');
    background-size: cover;
    min-height: 700px;
    position:relative;
}
.login-container {
    height: 100%;
    width: 100%;
    min-width: 1280px;
    min-height: 640px;
    position:relative;
    background-color: rgba(0,0,0,.8);
}
.logo {
    position: absolute;
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 1rem;
    color: #fff;
    z-index: 10;
}
.code-container {
    background: rgba(255,255,255,.3);
    width: 340px;
    height: 360px;
    border-radius: 8px;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    margin-left: -170px;
    margin-top: -270px;
    opacity: 0;
    padding: 25px 40px;
    transition: all 1s;
}
.code-container-display {
    margin-top: -220px;
    opacity: 1;
}
.login-title {
    color: #eee;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #999;
}
.qrcode {
    padding-top: 60px;
    border: 1px solid #999;
    padding: 5px;
    margin: 60px auto;
    width: 162px;
    height: 162px;
    position: relative;
    transition: all 1s;
    top: 20px;
}
.qrcode-display {
    top: 0;
}
.border-deco {
    position: absolute;
    width: 15px;
    height: 15px;
}
.deco-top {
    top: -1px;
    border-top: 3px solid #FFA500;
}
.deco-right {
    right: -1px;
    border-right: 3px solid #FFA500;
}
.deco-left {
    left: -1px;
    border-left: 3px solid #FFA500;
}
.deco-bottom {
    bottom: -1px;
    border-bottom: 3px solid #FFA500;
}
.renew-code {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    color: #eee;
    padding: 50px 30px;
    text-align: center;
    display: none;
}
.renew-code-display {
    display: block;
}
.alert-warning {
    opacity: 0;
}
.login-warning {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -125px;
    width: 250px;
    text-align: center;
    animation: blink 1.5s ease-in-out forwards;
}
@-webkit-keyframes blink {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/**
 * footer
 */
 footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
    opacity: .8;
}

footer a {
    color: #fff;
    font-size: 12px;
}

footer i {
    background: url(../assets/img/gov_icon.png) no-repeat;
}

footer .gov_item {
    border-radius: 5px;
    margin-right: 8px;
    height: 30px;
    line-height: 30px;
    color: #ddd;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    transition: all .3s ease;
}

footer .gov_item:hover {
    color: #abb0ff;
}

footer .gov_item1 i,
footer .gov_item2 i,
footer .gov_item3 i {
    width: 17px;
    display: block;
    float: left
}

footer .gov_item1 i {
    height: 15px;
    margin: 7px 8px 0 6px
}

footer .gov_item2 i {
    height: 19px;
    background-position: 0 -50px;
    margin: 5px 10px 0 8px
}

footer .gov_item3 i {
    height: 18px;
    background-position: 0 -100px;
    margin: 7px 3px 0 8px
}

footer .gov_item5 i {
    width: 23px;
    height: 23px;
    display: block;
    float: left;
    background-position: 0 -200px;
    margin: 2px 6px 0 7px
}

footer .gov_item1:hover i {
    background-position: -50px 0
}

footer .gov_item2:hover i {
    background-position: -50px -50px
}

footer .gov_item3:hover i {
    background-position: -50px -100px
}

footer .gov_item5:hover i {
    background-position: -50px -200px
}

p.police {
    margin: 0;
}

p.police a {
    font-size: 13px;
}
