@function px2rem($px) {
  $rem: 37.5px;
  @return ($px / $rem)+rem;
}

html {
  background-color: #f8f8f8;
}

.header {
  height: px2rem(50px);
  width: 100%;
  background-color: #222;
  padding-left: px2rem(32px);
  box-sizing: border-box;
  .header-item {
    list-style-type: none;
    float: left;
    color: #D1DFB7;
    font-size: px2rem(16px);
    margin-right: px2rem(20px);
    line-height: px2rem(50px);
    &:nth-child(2) {
      color: #fff;
      font-size: px2rem(17px);
    }
  }
}

.banner-content {
  position: relative;
  .banner {
    display: block;
    width: 100%;
    height: px2rem(180px);
  }
  .banner-title {
    position: absolute;
    left: px2rem(15px);
    bottom: px2rem(15px);
    font-size: px2rem(30px);
    color: #FFFFFF;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.85);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
}

.news-content {
  .news-item {
    height: px2rem(90px);
    padding-left: px2rem(15px);
    padding-right: px2rem(15px);
    width: 100%;
    box-sizing: border-box;
  }
  .item-inner {
    position: relative;
    overflow: hidden;
    height: 100%;
    border-bottom: px2rem(1px) solid #e5e5e5;
  }
  .news-img {
    float: left;
    margin-top: px2rem(10px);
    display: block;
    width: px2rem(95px);
    height: px2rem(70px);
    margin-right: px2rem(15px);
  }
  .news-title {
    color: #404040;
    font-size: px2rem(15px);
    margin-top: px2rem(16px);
    line-height: px2rem(20px);
  }
  .time {
    color: #888;
    font-size: px2rem(12px);
    position: absolute;
    left: px2rem(110px);
    bottom: px2rem(17px);
  }
  .num {
    position: absolute;
    color: #888;
    font-size: px2rem(12px);
    right: px2rem(4px);
    bottom: px2rem(17px);
    &:before {
      content: ' ';
      display: block;
      position: absolute;
      width: px2rem(13px);
      height: px2rem(13px);
      background-size: contain;
      top: px2rem(0px);
      left: px2rem(-17px);
      background-image: url('./imgs/read.png');
    }
  }
  .test{
  	margin-right: 1px;
  }
  .mobile{
    margin-bottom:px2rem(100px);
  }
}