@import "../components/config/config.scss";
@import "../components/mixins/mixins.scss";

.aboutMain{
	width: 100%;
	min-height: 100%;
	background: #f5f5f5;
	display: flex;
	flex-direction:column;
	align-items:flex-start;
	&>div,ul{
		width: 100%;
		background: #fff;
		display: flex;
		align-items:center;
	}
	.calNote{
		width: 90%;
		height: 60px;
		padding: 0 5%;
		flex-wrap:wrap;
		p{
			width: 100%;
			line-height: 24px;
		}
		.bigNote{
			font-size: 20px;
		}
	}
	.calInfo{
		width: 90%;
		padding: 0 5%;
		flex-wrap:wrap;
		p{
			width: 100%;
			margin-bottom: 5px;
		}
		.title{
			height: 26px;
			line-height: 26px;
			font-size: 20px;
			position: relative;
			span{
				position: absolute;
				right:0;
			}
		}
	}
	#ShowPayType{
		.b_ff3d00{
			border: none;
		}
		.contents{
			width: 90%;
			padding: 0 5%;
			.paytype-list,.paytypelist-other{
				float: none;
				ul{
					display: flex;
					flex-direction:column;
				}
				
			}
		}
	}
	.aboutTitle{
		height: 40px;
		text-align: center;
		position: relative;
		border-bottom: 1px solid #ccc;
		span{
			display: block;
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			position: absolute;
			top:0;
			left: 0;
		}
		h5{
			margin: 0 auto;
		}
	}
	.securityRank{
		height: 60px;
	}
	.aboutTip{
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		height: 40px;
		.icon{
			width: 15%;
			img{
				width: 20px;
				height: 20px;
				display: block;
				margin: 5px auto;

			}
		}
		& > span{
			width: 75%;
		}
	}
	.aboutNickName{
		height: 80px;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		.img{
			width: 20%;
			img{
				width: 50px;
				height: 50px;
				display: block;
				margin: 15px auto;
			}
		}
		.nickName{
			width: 70%;
		}
	}
	.orderListAll{
		height: 40px;
		margin: 5px 0 0;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}
	.orderListStatus{
		height: 70px;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		li{
			width:20%;
			text-align: center;
			img{
				width: 30px;
				height: 30px;
				display: block;
				margin: 5px auto;
				border: 1px solid #ccc;
			}
			p{
				text-align: center;
			}
		}
	}
	.arrow{
		width: 10%;
		height: 15px;
	}
	.usertext_29{
		width: 90%;
		height: 40px;
		display: block;
		margin: 10px auto;
		padding: 0;
	}
	.verifyCode{
		width: 90%;
		margin: 0 auto;
		display: flex;
		justify-content:space-between;
		input{
			width: 49%;
			height: 40px;
		}
		img{
			width: 49%;
		}
	}
	.Btnsendmail{
		height: 40px; 
		width: 90%;
		display:block;
		margin:5px auto;
		background: blue;
		color:#fff;
		border: none;
	}
	.notifyProduct{
		display: flex;
		flex-wrap:wrap;
		.notifyCheck{
			width: 5%;
		}
		.img{
			width: 22%;
			margin: 10px 5% 10px 5%;
			
			img{
				margin: 0 auto;
				display: block;
				border: 1px solid #ccc;
				width: 100px;
				height: 100px;
			}
		}
		.notifyInfo{
			width: 60%;
			p{
				margin: 5px;
			}
		}
		.notifyStatus{
			width: 90%;
			display: flex;
			margin: 10px auto;
			span{
				width: 30%;
				text-align: center;
			}
		}
		h4{
			width: 100%;
			height:100px;
			line-height: 100px;
			text-align: center;
		}
		.aboutConsult{
			width: 95%;
			margin: 0 auto;
			height: 25px;
			line-height: 25px;
			text-align: right;
			color:#ccc;
			border-top: 1px solid #ccc;
		}
	}
	.consultContent{
		width: 100%;
		margin: 0 auto;
		flex-wrap:wrap;
		p{
			width: 90%;
			padding:10px 5%;
		}
	}
	.orderTag{
		width: 100%;
		height: 50px;
		border-bottom: 1px solid #ccc;
		span{
			flex-grow:1;
			text-align: center;
			height: 50px;
			line-height: 50px;
		}
		span.active{
			border-bottom: 2px solid #4097ff;
			color:#4097ff;
		}
	}
	.orderInfo{
		width: 95%;
		margin: 0 auto 10px;
		flex-wrap:wrap;
		padding: 0 2.5%;
		line-height: 25px;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		overflow: hidden;
		.orderTime{
			width: 70%;
		}
		.orderStatus{
			color:#4097ff;
			width: 30%;
			text-align: right;
		}
		.orderNum{
			color:#ccc;
			width: 100%;
			padding-bottom: 10px;
			border-bottom: 1px solid #ccc;
		}
		ul{
			width: 100%;
			flex-direction:column;
			border-bottom: 1px solid #ccc;
			li{
				display: flex;
				justify-content:space-around;
				width: 100%;
				img{
					width: 60px;
					height: 60px;
					margin: 15px 5px;
					border: 1px solid #ccc;
				}
				p{
					width: 60%;
					line-height: 30px;
					padding-top: 20px;
				}
				span{
					width: 20%;
					line-height: 90px;
					text-align: right;
					.returnBtn{
						display: block;
						width: 80px;
						height: 40px;
						background:#4097ff; 
						color: #fff;
						line-height: 40px;
						margin-top: 25px;
						text-align: center;
					}
				}
				.returnNum{
					display: flex;
					padding-top: 40px;
					span{
						width: 50px;
						line-height: 24px;
					}
				}
			}
		}
		ul.noLine{
			border:none;
		}
		.orderTotal{
			height: 30px;
			text-align: right;
			width: 100%;
			span{
				color:#4097ff;
			}
		}
		.orderOperate{
			width: 100%;
			text-align: right;
			padding: 15px 0;
			display: flex;
			flex-direction:row-reverse;
			& > div{
				border: 1px solid #ccc;
				text-align: center;
				line-height: 30px;
			}
			.orderCancel{
				width: 100px;
				height: 30px;
			}
			.orderPay{
				width: 100px;
				height: 30px;
				background: #4097ff;
				color: #fff;
				margin-left: 25px;
			}
		}
	}
	.orderSoInfo{
		display: flex;
		flex-wrap:wrap;
		width: 95%;
		padding: 5px 2.5%;
		border-bottom: 1px solid #ccc;
		margin-bottom: 5px;
		h5{
			width: 100%;
			line-height: 50px;
			height: 50px;
			border-bottom: 1px solid #ccc;
		}
		h4{
			width: 100%;
			line-height: 50px;
			height: 50px;
			border-top:1px solid #ccc;
			border-bottom: 1px solid #ccc;
		}
		p{
			width: 100%;
			line-height: 24px;
		}
		p.first{
			margin-top: 5px;
		}
		p.last{
			margin-bottom: 5px;
		}
		p.greg{
			color:#808080;
		}
		.orderTime{
			width: 70%;
		}
		.orderStatus{
			color:#4097ff;
			width: 30%;
			text-align: right;
		}
	}
	.aboutAddress{
		width: 100%;
		border-bottom: 1px solid #ccc;
		.addrDetail{
			width: 87.5%;
			padding-left: 2.5%;
			line-height: 28px;
		}
		span{
			width: 7.5%;
			padding-right: 2.5%;
			text-align: right;
		}
	}
	.returnReason{
		flex-direction:column;
		border-top:1px solid #ccc;
		p{
			width: 90%;
			margin: 10px auto;
			text-align: left;
		}
		textarea{
			width: 90%;
			margin: 10px auto;
			height: 400px;
		}
	}
	.mt15{
		width: 100%;
		height: 50px;
		position: fixed;
		background: #4097ff;
		color: #fff;
		bottom: 0;
		justify-content:center;
		span{
			text-align: center;
		}
	}
	.pubcomment{
		width: 100%;
		height: 100px;
		flex-wrap:wrap;
		ul{
			width: 70px;
			margin: 10px auto;
			display: flex;
			height: 15px;
			background-image: url(../images/ci_product.png);
			background-position: -329px -14px;
			position: relative;
			li{
				width: 20%;
				height: 15px;
				z-index: 2;
			}
			li.icon_star_active{
				width: 100%;
				position: absolute;
				left: 0;
				top:0;
				background-image: url(../images/ci_product.png);
    			background-position: -329px 0;
    			z-index: 1;
			}
		}
		p{
			width: 100%;
			text-align: center;
			display: none;
		}
	}
}
.verifyMail{
	width: 100%;
	display: flex;

}
.icon-arr {
    width: 10px;
    height: 15px;
    background: url(/Areas/m/static/images/icon_order.png) 0 0 no-repeat;
    background-size: 100px 100px;
    display: block;
    margin: 0 auto;
}
.notifyBottom{
	position: fixed;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	height: 50px;
	display: flex;
	label,a{
		display: block;
		position: static;
		height: 50px;
		line-height: 50px;
	}
	#lab_chkAllBtn{
		margin:19px;
	}
	.smallgray{
		background: #4097ff;
		color: #fff !important;
		width: 11%;
		text-align: center;
	}
}
.reViewBottom{
	width: 100%;
	height: 50px;
	background: #4097ff;
	color:#fff;
	text-align: center;
	line-height: 50px;
}
.mask{
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	left: 0;
	z-index: 99;
	background: #717171;
	.details{
		width: 90%;
		height: 90%;
		background: #fff;
		margin: 50px auto;
		position: relative;
		span{
			position: absolute;
			top:0;
			right: 5px;
			font-size: 26px;
		}
		.content{
			width: 95%;
			margin: 5px auto;
			
		} 
	}
}
#ShoppingCartContents{
	.receiverInfo{
		width: 100%;
		background: #fff;
		margin: 0;
		.t2{
			width: 100%;
			height: 50px;
			text-align: center;
			position: relative;
			line-height: 50px;
			font-size: 16px;
			border-bottom: 1px solid #ccc;
			.back{
				width: 50px;
				height: 50px;
				position: absolute;
				top:0;
				left:0;
				line-height: 50px;
			}
		}
		.c{
			.addressList{
				padding: 0;
				.addNewAddr{
					width: 100%;
					height: 40px;
					position: fixed;
					background: $main_color;
					bottom: 0;
					.em{
						width: 0;
						height: 0;
					}
					label{
						width: 100%;
						height: 40px;
						line-height: 40px;
						text-align: center;
						color: #fff;
					}
				}
				.f{
					position: relative;
					height: 40px;
					.edit{
						position: absolute;
						top:5px;
						right: 5px;

					}
				}
			}
		}
	}
}

