@import "../components/config/config.scss";
@import "../components/mixins/mixins.scss";

#Cart,#check{
	width: 100%;
	.container_main{
		width: 100%;
		margin-bottom: 60px;
		#shoppingcart,.container{
			width: 100%;
			.checkStep{
				width: 100%;
				position: relative;
				height: 50px;
				line-height: 50px;
				margin: 0;
				h3{
					width: 100%;
					text-align: center;
				}
				.back{
					width: 50px;
					height: 50px;
					font-size: 20px;
					line-height: 50px;
					text-align: center;
					position: absolute;
					top: 0;
					left: 0;
					a{
						width: 100%;
						height: 100%;
						display: block;
					}
				}
			}
			.freeDelivery{
				width: 90%;
				height: 40px;
				background: #e7f2ff;
				text-align: left;
				padding-left: 10%;
				line-height: 40px;
				border-top: 1px solid #e0e0d4;
			}
			#shoppingpanal{
				width: 100%;
				#ShoppingCartContents{
					table.cartstyle{
						width: 100%;
						margin-bottom: 0;
						.p_img{
							margin-top: 0;
						}
						.row{
							padding-top: 15px;
							line-height: 20px;
						}
						.currentprice{
							width: 200px;
							height: 30px;
							float: left;
							line-height: 28px;
							color: #85befc;
							text-align: left;
						}
					}
					.attention{
						width: 90%;
    					padding: 10px 5%;
    					font-size: 14px;
					}
					.recommand{
						width: 99%;
						border-top:1px solid #ccc;
						padding:0 0.5% 20px;

						h2{
							width: 100%;
							font-size: 18px;
							text-align: center;
							padding: 20px 0;
						}
						.recUl{
							width: 100%;
							margin: 0 auto;
							display: flex;
							.recList{
								margin: 0 0.5%;
								width: 48%;
								border: 1px solid #ccc;
								padding-bottom: 10px;
								img{
									width: 100%;
									border-bottom: 1px solid #ccc;
								}
								p{
									margin: 5px;
									font-size: 14px;
									line-height: 18px;
									display: -webkit-box;
								    -webkit-line-clamp: 2;
								    -webkit-box-orient: vertical;
								    overflow: hidden;
								}
								.recTitle{
									
								}
								.recPrice{
									color: #85befc;
								}
							}
						}
					}
					.cartBottom{
						width: 100%;
						display: flex;
						height: 60px;
						border-top:1px solid #ccc;
						border-bottom: 1px solid #ccc;
						position: fixed;
					    bottom: 0;
					    background: #fff;
						div{
							width: 33.33%;
						}
						.total{
							color: #ccc;
							font-size: 12px;
							line-height: 26px;
							text-align: left;
							.selAll{
								float: left;
								width: 33px;
								.check{
									margin: 10px 0 0 10px;
								}
							}
							
							span{
								color:#85befc;
							}
						}
						.continue{
							line-height: 60px;
							font-size: 16px;
							text-align: center;
							border-left: 1px solid #ccc;
							border-right: 1px solid #ccc;
						}
						.buyNow{
							line-height: 60px;
							font-size: 16px;
							text-align: center;
							background: #4097ff;
							color: #fff;
						}
					}
					.btndownup {
					    position: relative;
					    width: 85px;
					    height: 32px;
					    float: left;
					    clear: both;
					}
					.darkblue{
						width: 30px;
						height: 30px;
						float: right;
						background: url('/Areas/m/static/images/del2.png') 50% 50% no-repeat;
						background-size: 50%;
						margin-right: 20px;
					}
				}
			}
			.totalpanel{
				padding-right: 0;
    			position: relative;
    			.cart_bot{
    				height: 42px;
				    line-height: 40px;
				    border: 1px solid #d9d9d9;
				    .allchk {
					    margin-left: 10px;
					    margin-right: 20px;
					    margin-top: 14px;
					}
    			}
			}
			#ShowAddress{
				margin: 0;
				padding: 10px 0;
				border-top: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
				.receive{
					width: 95%;
					margin: 0 auto;
					height: 30px;
					p{
						font-size: 14px;
						width: 90%;
						float: left;
						line-height: 18px;
					}
					.arrowR{
						width: 10%;
						float: right;
						height: 30px;
						line-height: 30px;
						font-size: 16px;
						text-align: center;
					}
				}
				.commonlist_new{
					clear: both;
					border:none;
					margin:0 0 50px;
					.edit{
						float: right;
					}
					.addr{
						position: relative;
						.addrConFirm{
							position: absolute;
						    width: 80%;
						    height: 55px;
						    top: 10px;
						    left: 32px;
						    background: rgba(0,0,0,0);
						    z-index: 9;
						}
					}
					
				}
				#div_0,#confirmRecevie,#addRecevie{
					position: fixed;
					bottom: 0;
					width: 100%;
					background: #4097ff;
					height: 45px;
					line-height: 45px;
					color: #fff;
					font-size: 14px;
					text-align: center;
					z-index: 10;
					margin: 0;
					padding: 0;
					.btnsaveaddress,input,label{
						border: none;
						background: #4097ff;
						color: #fff;
						width: 100%;
						height: 100%;
						display: block;
					}
					.radionochecked,.radiochecked{
						background: #4097ff;
						position: fixed;
						bottom: 0;
						left: 0;
						z-index: 999;
						height: 45px;
						width: 45px;
					}
				}
			}
			#ShowProducts{
				.table_cart{
					thead{
						tr{
							line-height: 25px;
						    padding-left: 30px;
						    height: 40px;
						    background-color: #d9d9d9;
						    font-size: 14px;
						    font-weight: bold;
						    color: #17171c;
							th{
								font-size: 14px;
							    font-weight: normal;
							    text-align: left;
							    color: #000;
							    background: #fff;
							    border-bottom: 1px solid #ccc;
							    padding-left: 2.5%;
							}
						}
					}
					tbody{
						tr{
							td{
								.proMessage{
									width: 70%;
									padding: 10px 0;
									a{
										display: block;
										width: 85%;
										line-height: 20px;
										display: -webkit-box;
									    -webkit-line-clamp: 2;
									    -webkit-box-orient: vertical;
									    overflow: hidden;
									}
									.checkmoneyfont{
										width: 80%;
										float: left;
										margin-top: 5px;
										color:#4097ff;
									}
									.proNum{
										float: right;
										margin-top: 5px;
										color:#808080;
									}
								}								
								.item_image{
									width: 20%;
									height: 72px;
									margin: 0;
									padding:10px 2.5%;
									float: left;
								}
							}
						}
					}
				}
				.proButton{
					height: 40px;
					width: 95%;
					font-size: 12px;
					line-height: 40px;
					padding: 0 2.5%;
				}
			}
			#ShowShipType{
				width: 95%;
				padding: 10px 2.5%;
				background: #fff;
				height: 50px;
				border-top:1px solid #ccc;
				.shiptype{
					float: left;
					width: 65%;
					font-size: 14px;
				}
				.normalDeli{
					float: right;
					width: 35%;
					line-height: 20px;
				}
				p{
					margin-top: 10px;
					float: left;
					color: #ccc;
					clear: both;
				}
			}
			.ShowInvoiceInfo{
				width: 100%;
				height: 50px;
				line-height: 50px;
				border-top: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
				.tit{
					float: left;
					margin-left: 2.5%;
				}
				.info{
					float: right;
					margin-right: 2.5%;
				}
			}
			#ShowInvoiceInfo{
				.invoiceInfo{
					width: 95%;
					padding: 10px 2.5%;
					.inTop{
						p{
							margin-bottom: 15px;
						}
						input{
							width: 97%;
							float: left;
							height: 35px;
							margin-bottom: 10px;
						}
					}
					.content{
						clear: both;
						p{
							width: 48%;
							height: 30px;
							border: 1px solid #ccc;
							text-align: center;
							margin-bottom: 10px;
							line-height: 30px;
						}
						p.active{
							border: 1px solid #4097ff;
						}
						.radionochecked{
							background: #fff;
						}
						.radiochecked{
							background: #fff;
						}
					}
					.confirmIn{
						width: 100%;
						height: 30px;
						color: #4097ff;
						border: 1px solid #4097ff;
						text-align: center;
						line-height: 30px;
						float: left;
						margin-bottom: 10px;
					}
				}
			}
			#ShowButton {
			    margin: 0;
			}
			#CreateSo{
				width: 100%;
				margin: 0 auto;
				height: 50px;
				border-top: 1px solid #ccc;
				position: fixed;
				bottom: 0;
				background: #fff;
				.tocart{
					width: 50%;
					height: 50px;
					margin: 0;
					line-height: 50px;
				}
				#btnCreateSO{
					width: 50%;
					height: 50px;
					margin: 0;
					background: #4097ff;
					border: none;
					border-radius: 0px;
					line-height: 50px;
				}
			}
		}
	}
}
.left{
	float: left;
}
.right{
	float: right;
}
.b_ff3d00 {
    border: none;
}
.cfe3c00{
	color: #4097ff;
}
.btn_cancel{
	border: none;
	background: none;
}