<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />    
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>TodoList</title>
</head>
<style>
    body{
        font-size: 16px;
    }
    li{
        line-height: 30px;
    }
    #todolist{
        width: 80%;
        margin: 10px auto;
        text-align: left;
    }
    li input{
        display: block
    }
</style>
<body>
    <div id='todolist'>
        <div>
            <input placeholder="输入事项" v-model="inputValue"/>
            <button @click="handleSubmit">提交</button>
        </div>
        <h3>待办事项：</h3>
        <ul>
            <todo-item v-for="(item,index) of todolist"
            :key="index"
            :content="item"
            :index="index"
            @delete="handleDelete" @finish="handleFinish" @up="handleUp" @down="handleDown" @save="handleTodoEdit">  <!-- 监听delete和finish事件 -->
            </todo-item>
        </ul>
        <h3>已完成事项：</h3>
        <ul>
            <finished-item v-for="(item,index) of finishedlist"
            :key="index"
            :content="item"
            :index="index"
            @delete2="handleDelete2" @recover="handleRecover" @save="handleFiniEdit">  <!-- 监听delete事件 -->
            </finished-item>
        </ul>
    </div>
</body>
<script>
    //注册局部组件
    //待办事项
    var TodoItem = {
        props: ['content','index'],
        data:function(){
            return{
                isEdit:false,
                tempWord:''
            }
        },
        template: ` <li> 
                        <p>{{index+1 + '.' + content}} </p> 
                        <input v-model='tempWord' v-show='isEdit' />
                        <button @click="handleClick2">完成</button> 
                        <button @click="handleClick">删除</button> 
                        <button @click="handleDown">&#8595</button> 
                        <button @click="handleUp">&#8593</button> 
                        <button @click="handleEdit">{{isEdit ? '编辑完成' : '编辑'}}</button> 
                    </li>`,
        methods: {
            handleClick:function(){
                //删除
                this.$emit('delete', this.index)
            },
            handleClick2:function(){
                //完成
                this.$emit('finish', this.index)
            },
            handleUp:function(){
                //升序
                this.$emit('up',this.index)
            },
            handleDown:function(){
                //降序
                this.$emit('down',this.index)
            },
            handleEdit:function(){
                //编辑
                this.isEdit = !this.isEdit
                if(!this.isEdit){
                    this.$emit('save',this.tempWord,this.index)
                }
            }
        },
        mounted(){
            this.tempWord = this.content
        }
    }
    //已完成事项
    var FinishedItem = {
        props: ['content','index'],
        data:function(){
            return{
                isEdit:false,
                tempWord:''
            }
        },
        template: ` <li>
                        <p>{{index+1 + '.' + content}}</p>
                        <input v-model='tempWord' v-show='isEdit' />
                        <button @click="handleClick">删除</button> 
                        <button @click="handleClick2">恢复</button>
                        <button @click="handleEdit">{{isEdit ? '编辑完成' : '编辑'}}</button> 
                    </li>`,
        methods: {
            handleClick: function(){
                //删除
                this.$emit('delete2', this.index)
            },
            handleClick2: function(){
                //恢复
                this.$emit('recover', this.index)
            },
            handleEdit:function(){
                //编辑
                this.isEdit = !this.isEdit
                if(!this.isEdit){
                    this.$emit('save',this.tempWord,this.index)
                }
            }
        },
        mounted(){
            this.tempWord = this.content
        }
    }
    new Vue({
      el: "#todolist",
      components: {   //局部组件需要声明的 components
        'todo-item': TodoItem,
        'finished-item': FinishedItem
      },
      data:function() {
          return {
            inputValue: '',
            todolist: [],
            finishedlist:[]
          }
      },
      methods: {
        //提交
        handleSubmit: function(){
            if(this.inputValue != ''){
                this.todolist.push(this.inputValue)
                this.updateLocal()
                this.inputValue = ''
            }
        },
        //待办事项删除
        handleDelete: function(index){
            this.todolist.splice(index,1) //使用splice方法删除list
            this.updateLocal()
        },
        //待办事项完成
        handleFinish:function(index){
            this.todolist[index] = `${this.todolist[index]} ${new Date().toLocaleString()}`
            this.finishedlist.push(...this.todolist.splice(index,1))  //使用splice方法删除list,并添加到已完成事项
            this.updateLocal()
        },
        //待办事项升序
        handleUp:function(index){
            if(index > 0){
                this.todolist.splice(index-1,2,this.todolist[index],this.todolist[index-1])
            }
            this.updateLocal()
        },
        //待办事项降序
        handleDown:function(index){
            if(index < this.todolist.length - 1){
                this.todolist.splice(index,2,this.todolist[index+1],this.todolist[index])
            }
            this.updateLocal()
        },
        //待办事项编辑
        handleTodoEdit: function(tempWord,index){
          this.todolist.splice(index,1,tempWord)
          this.updateLocal()
        },
        //已完成事项删除
        handleDelete2: function(index){
          this.finishedlist.splice(index,1)  //使用splice方法删除finishedlist
          this.updateLocal()
        },
        //已完成事项恢复
        handleRecover: function(index){
            this.todolist.push(...this.finishedlist.splice(index,1))  //使用splice方法删除list,并添加到已完成事项
            this.updateLocal()
        },
        //已完成事项编辑
        handleFiniEdit: function(tempWord,index){
          this.finishedlist.splice(index,1,tempWord)
          this.updateLocal()
        },
        //更新本地数据
        updateLocal:function(){
            localStorage.setItem('todolist',JSON.stringify(this.todolist))
            localStorage.setItem('finishedlist',JSON.stringify(this.finishedlist))
        }
      },
      created(){
          //检查本地缓存
          if(localStorage.getItem('todolist')){
              this.todolist = JSON.parse(localStorage.getItem('todolist'))
          }
          if(localStorage.getItem('finishedlist')){
              this.finishedlist = JSON.parse(localStorage.getItem('finishedlist'))
          }
      }
    })
</script>
</html>