$defaultColor: #03a9f4;
$deepColor:#026ab3;
input{
    border: none;
    background: inherit;
    outline:none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.header-container{
    position: fixed;
    width: 100%;
    height: 50px;
    top:0;
    left:0;
}
.header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    .logo{
        width: 20%;
        padding-top: 10px;
        p{
            color: $deepColor;
            font-weight: bold;
            text-align: center;
            font-size: 14px;
            margin: 0;
        }
    }
    .search{
        width: 70%;
        background: #ebebeb;
        height: 30px;
        border-radius: 3px;
        margin-top: 10px;
        display: flex;
        span{
            width: 10%;
            img{
                width: 20px;
                height: 20px;
                margin:5px auto;
            }
        }
        input{
            width: 90%;
            height: 25px;
            margin-top: 3px;
        }
    }
    .info{
        width: 10%;
        img{
            width: 30px;
            height: 30px;
            margin: 10px auto;
        }
    }
}
.tab{
    width: 100%;
    height: 40px;
    margin-top: 50px;
    ul{
        width: 100%;
        height: 40px;
        display: flex;
        li{
            font-size: 16px;
            line-height: 40px;
            margin: 0 10px;
            padding: 0 5px;
            &.active{
                color: $defaultColor;
                border-bottom: 2px solid $defaultColor;
            }
        }
    }
}
.bottom{
    width: 100%;
    height: 50px;
    position: fixed;
    background: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: flex;
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out,-webkit-transform .2s ease-out;
    box-shadow: 0 -1px 10px #888;
    a{
        text-decoration: none;
        width: 25%;
        img{
            width: 30px;
            height: 30px;
            margin: 5px auto -20px;
        }
        p{
            font-size: 12px;
            color: #000;
            margin-top: 13px;
        }
    }
    .line{
        width: 1px;
        height: 40px;
        margin: 5px 0;
        background: #ccc;
    }
    .addCart{
        width: 50%;
        background: #ff6700;
        color: #fff;
        text-align: center;
        line-height: 50px;
    }
    .cal{
        width: 33.33%;
        padding-top: 7.8px;
        p{
            font-size: 13.5px;
            color: #999;
            span{
                color: #ff5722;
                font-size: 20.83px;
                font-weight: bolder;
                margin-right: 6px;
                margin-top: 3px;
            }
        }
    }
    .continue{
        width: 33.33%;
        background: #f4f4f4;
        border: 1px solid #f4f4f4;
        line-height: 50px;
        font-size: 14.5px;
    }
    .buy{
        width: 33.33%;
        background: #ff5722;
        color: #fff;
        line-height: 50px;
        font-size: 14.5px;
    }
    .router-link-active{
        p{
            color: #000;
            font-weight: bold;
        }
    }
}
.slider{
    width: 100%;
    font-size: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #f5f5f5;
    position: relative;

    &-img{
        position: absolute;
        left: 0;
        width: 100%;
        a{
            display: block;
            width: 100%;
            img{
                width: 100%;
                position: absolute;
                left: 0;
            }
        }
    }
    .slide-trans-enter-active{
        width: 100%;
        transition: all .5s cubic-bezier(.55, 0, .1, 1);
    }
    .slide-trans-enter{
        transform: translateX(100%);
    }
    .slide-trans-old-leave-active{
        transition:all .5s;
        transform:translateX(-100%);
    }
    h2{
        position: absolute;
        left: 0;
        top:20px;
        display: none;
    }
    .slides-pages{
        position: absolute;
        height: 16px;
        bottom: 5px;
        left: 50%;
        margin-left: -40px;
        display: flex;
        z-index: 99;
        li{
            font-size: 16px;
            color: #808080;
            &.radius{
                width: 10px;
                height: 10px;
                border-radius: 6px;
                background: #000;
                opacity: .2;
                margin: 3px 5px;
            }
            &.active{
                opacity: 1;
                background: #007aff;
            }
            &.prev{
                margin-right: 5px;
                display: none;
            }
            &.next{
                margin-left: 5px;
                display: none;
            }
        }
        
    }
}
.header-bar{
    width: 100%;
    height: 50px;
    background: #f2f2f2;
    color: #666;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    .back{
        background: url('~@/assets/back.png') 0 0 no-repeat;
        background-size: 100%;
    }
    p{
        width: 100px;
        text-align: center;
        line-height: 50px;
    }
    .search{
        background: url('~@/assets/search_icon.png') 0 0 no-repeat;
        background-size: 100%;
    }
    span{
        width: 30px;
        height: 30px;
        margin: 10px 5px;
        a{
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    input{
        background: #fff;
        width: 250px;
        padding: 0 10px;
        height: 30px;
        margin-top: 10px;
    }
}
