.bottom{
    width: 100%;
    max-width: 640px;
    height: 50px;
    position: fixed;
    background: #fff;
    bottom: 0;
    left: 0;
    z-index: 999;
    display: flex;
    box-shadow: 0 -1px 10px #888;
    a{
        text-decoration: none;
        width: 25%;
        img{
            width: 30px;
            height: 30px;
            margin: 5px auto -20px;
        }
        p{
            font-size: 12px;
            color: #000;
        }
    }
    .router-link-active{
        p{
            color: #000;
            font-weight: bold;
        }
    }
}
@media screen and (min-width: 640px) {  
     .bottom{
         left: 50%;
         margin-left: -320px;
     }
}
