<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyVue2</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="text">
        输入的值为：{{text}}
        <div>
            <input type="text" v-model="text">
        </div>
        <div>{{text2}}</div>
    </div>
</body>
<script>
    window.onload = function(){
        //构造函数MyVue
        class MyVue{
            constructor(options){
                console.log(`MyVue,options:${options}`)
                this.$el = options.el;
                this.$data = options.data;
                obverser(this.$data)
                let elem = document.querySelector(this.$el);
                elem.appendChild(nodeToFragment(elem,this))
            }
        }
        //vue进行编译时，将挂载目标的所有子节点劫持到DocumentFragment中，经过一份解析等处理后，再将DocumentFragment整体挂载到目标节点上。
        function nodeToFragment(node,vm){
            console.log(`nodeToFragment,node:${node},node.firstChild:${node.firstChild}`)
            var flag = document.createDocumentFragment();
            var child;
            while(child = node.firstChild){
                compile(child,vm);
                if(child.firstChild){
                    var dom = nodeToFragment(child,vm);
                    child.appendChild(dom)
                }
                flag.appendChild(child)
            }
            return flag;
        }
        //指令解析器Compile，对于每个元素上的指令进行解析，根据指令替换数据，更新视图。
        function compile(node,vm){
            console.log(`compile,node:${node},nodeType:${node.nodeType}`)
            let reg = /\{\{(.*)\}\}/;
            //元素节点
            if(node.nodeType === 1){
                var attrs = node.attributes;
                for(let attr of attrs){
                    if(attr.nodeName === 'v-model'){
                        // 获取v-model指令绑定的data属性
                        var name = attr.nodeValue;
                        //绑定事件
                        node.addEventListener('input',function(e){
                            vm.$data[name] = e.target.value;
                        })
                        //初始化数据绑定
                        node.value = vm.$data[name];
                        new Watcher(vm,node,name)
                        //移除v-model属性
                        node.removeAttribute('v-model')
                    }
                }
            }

            //文本节点
            if(node.nodeType === 3){
                if(reg.test(node.nodeValue)){
                    var name = RegExp.$1 && (RegExp.$1.trim());
                    // 绑定数据到文本节点中
                    //  node.nodeValue = vm.$data[name]
                    new Watcher(vm, node, name);
                }
            }
        }
        //定义一个主题对象，用来收集所有的订阅者，并提供notify方法，用来调用订阅者的update方法，从而执行相应的操作。
        class Dep{
            constructor(){
                console.log(`Dep`)
                this.subs = []
            }
            addSub(sub){
                this.subs.push(sub)
            }
            notify(){
                this.subs.forEach(sub => {
                    //执行订阅者的update方法
                    sub.update()
                })
            }
        }
        //现订阅者Watcher，首先，定义了一个全局的Dep.target，然后执行了update方法，
        //进而执行了get方法，都去了this.vm的访问器属性， 从而将订阅的消息保存在该属性的主题对象中，
        //并最终将Dep.target设置为空，全局变量，是watcher和dep之间的唯一桥梁，必须保证Dep.target只有一个值。
        class Watcher{
            constructor(vm,node,name){
                //全局的、唯一
                console.log(`Watcher,node:${node},name:${name}`)
                Dep.target = this;
                this.node = node;
                this.name = name;
                this.vm = vm;
                this.update();
                Dep.target = null;
            }
            update (){
                this.get();                
                if (this.node.nodeName === 'INPUT') {
                    // 可以添加TEXTAREA、SELECT等
                    this.node.value = this.value;
                } else {
                    this.node.nodeValue = this.value;
                } 
            }
            get(){
                this.value = this.vm.$data[this.name]
            }
        }
        //实现一个obverser给data中每个属性添加一个主题对象
        //遍历data中的所有属性,包括子属性对象的属性
        function obverser(obj){
            console.log(`obverser,obj:${obj}`)
            Object.keys(obj).forEach(key => {
                if(obj.hasOwnProperty(key)){
                    if(obj[key].constructor === 'Object'){
                        obverser(obj[key])
                    }
                    defineReactive(obj,key)
                }
            })
        }
        //使用Object.definePeoperty()来监听属性变动，给属性添加setter和getter
        function defineReactive(obj,key){
            console.log(`defineReactive,obj:${obj},key:${key}`)
            var _value = obj[key];
            //new一个主题对象
            var dep = new Dep();
            Object.defineProperty(obj,key,{
                enumerable:true,
                configurable: true,
                set(newVal){
                    console.log(`defineReactive:set()`)
                    if(_value == newVal){
                        return;
                    }
                    _value = newVal;
                    //console.log(_value);
                    //作为发布者发出通知给主题对象
                    dep.notify()
                },
                get(){
                    //如果订阅者存在，添加到主题对象中
                    console.log(`defineReactive:get(),Dep.target:${Dep.target}`)
                    if(Dep.target){
                        dep.addSub(Dep.target)
                    }
                    return _value
                }
            })
        }

        var vm = new MyVue({
            el: '#app',
            data: {
                text: 'hello world',
                text2: 'hello world'
            }
        })
    }
</script>
</html>