// font
$fontFamily: "Source Han Sans", Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", SimSun, Heiti, sans-serif;

$lineHeight: 100%;

$fs: 14px;

$clr_font: #797979;
$clr_active: #167ED9;

$page_header_height: 88px;

$page_content_nav_height: 88px;

$main_color: #4098ff;

.title2Line{
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
a{
	text-decoration: none;
}